@import "/src/common/styles.scss";

.anchor {
  position: relative;
  height: 0;
}

.dropdown {
  position: absolute;
  margin-top: 2rem;
  background-color: $color-white;
  min-width: 10rem;
  padding: 0.25rem;
  border-radius: 2px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);

  p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.25rem;
    border-bottom: 1.5px solid $color-white-three;
    color: $color-dark-grey;
    padding: 0.3rem;
    user-select: none;
    cursor: pointer;
  }

  p.highlighted {
    font-weight: 600;
    color: $color-brown;
  }

  p:last-child {
    border: none;
  }
}
