@import "/src/common/styles.scss";

.anchor {
  position: relative;
}

.dropdown {
  position: absolute;
  margin-top: 2rem;
  background-color: $color-white;
  min-width: 10rem;
  padding: 0.25rem;
  border-radius: 2px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
  z-index: 10;
  max-height: 30rem;
  overflow-y: auto;

  .option {
    border-bottom: 1.5px solid $color-white-three;
    padding: 0.5rem;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: flex-start;

    p {
      text-align: left;
      margin: 0;
      color: $color-dark-grey;
      font-size: 0.8rem;
      line-height: 1.25rem;
      font-weight: 400;
    }

    img {
      height: 1rem;
      margin-right: 0.5rem;
    }
  }

  .option.highlighted {
    @extend .option;
    font-weight: 600;
    p {
      color: $color-brown;
    }
  }

  .option:last-child {
    border: none;
  }
}
