@import "/src/common/styles.scss";

.reaction-btn {
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 0.75rem;
      font-weight: 600;

      &.dislike {
        color: $color-red;
      }

      &.like {
        color: $color-weird-green;
      }
    }
  }

  &:hover {
    filter: brightness(0.7);
  }

  img {
    width: 100%;
  }

  &.like-btn {
    background-color: $color-weird-green;
  }

  &.dislike-btn {
    background-color: $color-red;
  }
}
