@import "/src/common/styles.scss";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 0 8rem;
}


@media only screen and (max-width: $tablet-breakpoint) {
  .main {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .main {
    padding: 0.5rem;
  }
}