@import "/src/common/styles.scss";

.nav-bar {
  background-color: $color-black;
  padding: 1rem 4rem;
  display: flex;
  column-gap: 2rem;
  justify-content: right;
  position: sticky;
  top: 0;
  z-index: 10;

  .first-item {
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  .nav-bar {
    padding: 1rem 4rem;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .nav-bar {
    padding: 1rem 0rem;
  }
}
