@import "/src/common/styles.scss";

.categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 2.5rem 0;
}

.category {
  &-tag {
    color: $color-white;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 0.85rem;
    text-align: center;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;

    p {
      margin: 0;
      font-weight: 600;
    }
  }

  &-default {
    background-color: $color-blue;
  }

  &__selected {
    color: $color-dark-grey;
    border: 1px solid $color-dark-grey;
  }

  &-badge {
    @extend .category-tag;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: 10rem;
    position: absolute;
    font-size: 0.75rem;
    font-weight: 600;
  }
}

.view-all-btn {
  @extend .category-tag;
  color: $color-brown;
  border-color: $color-brown;
  position: relative;

  img {
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.view-more-btn {
  @extend .view-all-btn;
  width: fit-content;
  display: flex;
  img {
    position: relative;
    top: 0;
    right: 0;
    margin-left: 0.5rem;
  }
}

.jokes {
  border-top: 1px solid $color-white-three;
  position: relative;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    width: 100%;
  }

  &-grid {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(3, calc((100vw - 20rem) / 3));
    gap: 1.5rem;
  }
}

.empty {
  margin: 3rem 0;
}

@media only screen and (max-width: $tablet-breakpoint) {
  .categories {
    grid-template-columns: repeat(4, 1fr);
  }

  .jokes-grid {
    grid-template-columns: repeat(3, calc((100vw - 8rem) / 3));
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }

  .jokes-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
