@import "/src/common/styles.scss";

.categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 2.5rem 0;
}

.category {
  color: $color-white;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  text-align: center;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;

  p {
    margin: 0;
    font-weight: 600;
  }

  &-a {
    background-color: $color-red;
    @extend .category;
  }

  &-b {
    background-color: $color-pastel-orange;
    @extend .category;
  }

  &-c {
    background-color: $color-pale-orange;
    @extend .category;
  }

  &-d {
    background-color: $color-light-gold;
    @extend .category;
  }

  &-e {
    background-color: $color-kiwi-green;
    @extend .category;
  }

  &-f {
    background-color: $color-weird-green;
    @extend .category;
  }

  &-default {
    background-color: $color-blue;
    @extend .category;
  }

  &__selected {
    color: $color-dark-grey;
    border: 1px solid $color-dark-grey;
  }

  &__badge {
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: 10rem;
    position: absolute;
    font-size: 0.75rem;
    font-weight: 600;
  }
}

.view_all_btn {
  @extend .category;
  color: $color-brown;
  border-color: $color-brown;
  position: relative;

  img {
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.view_more_btn {
  @extend .view_all_btn;
  width: fit-content;
  display: flex;
  img {
    position: relative;
    top: 0;
    right: 0;
    margin-left: 0.5rem;
  }
}

.jokes {
  border-top: 1px solid $color-white-three;
  position: relative;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    width: 100%;
  }

  &-grid {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(3, calc((100vw - 20rem) / 3));
    gap: 1.5rem;
  }
}

.empty {
  margin: 3rem 0;
}
