$color-white: #f9f9f9;
$color-black: #303030;
$color-brown: #cfb995;
$color-white-two: #ffffff;
$color-grey: #b2b2b2;
$color-red: #ff5b5b;
$color-weird-green: #57e690;
$color-pastel-orange: #ff915b;
$color-blue: #57dbe6;
$color-light-brown: #d0ba93;
$color-pale_orange: #ffbe5b;
$color-kiwi-green: #8fe360;
$color-light-gold: #ffdf5b;
$color-dark-grey: #5e5e5e;
